{
  "cli": { "version": ">= 3.18.0", "appVersionSource": "local" },
  "build": {
    "development": {
      "developmentClient": true,
      "distribution": "internal",
      "channel": "development",
      "env": {
        "FIREBASE_API_KEY": "YOUR_FIREBASE_API_KEY",
        "FIREBASE_AUTH_DOMAIN": "YOUR_PROJECT_ID.firebaseapp.com",
        "FIREBASE_PROJECT_ID": "YOUR_PROJECT_ID",
        "FIREBASE_STORAGE_BUCKET": "YOUR_PROJECT_ID.firebasestorage.app",
        "FIREBASE_MESSAGING_SENDER_ID": "YOUR_SENDER_ID",
        "FIREBASE_APP_ID": "YOUR_APP_ID",
        "FIREBASE_MEASUREMENT_ID": "YOUR_MEASUREMENT_ID",
        "EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID": "YOUR_GOOGLE_WEB_CLIENT_ID"
      }
    },
    "preview-apk": {
      "distribution": "internal",
      "android": { 
        "buildType": "apk"
      },
      "channel": "preview",
      "env": {
        "FIREBASE_API_KEY": "YOUR_FIREBASE_API_KEY",
        "FIREBASE_AUTH_DOMAIN": "YOUR_PROJECT_ID.firebaseapp.com",
        "FIREBASE_PROJECT_ID": "YOUR_PROJECT_ID",
        "FIREBASE_STORAGE_BUCKET": "YOUR_PROJECT_ID.firebasestorage.app",
        "FIREBASE_MESSAGING_SENDER_ID": "YOUR_SENDER_ID",
        "FIREBASE_APP_ID": "YOUR_APP_ID",
        "FIREBASE_MEASUREMENT_ID": "YOUR_MEASUREMENT_ID",
        "EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID": "YOUR_GOOGLE_WEB_CLIENT_ID"
      }
    },
    "production": {
      "android": { "buildType": "app-bundle" },
      "channel": "production",
      "env": {
        "FIREBASE_API_KEY": "YOUR_FIREBASE_API_KEY",
        "FIREBASE_AUTH_DOMAIN": "YOUR_PROJECT_ID.firebaseapp.com",
        "FIREBASE_PROJECT_ID": "YOUR_PROJECT_ID",
        "FIREBASE_STORAGE_BUCKET": "YOUR_PROJECT_ID.firebasestorage.app",
        "FIREBASE_MESSAGING_SENDER_ID": "YOUR_SENDER_ID",
        "FIREBASE_APP_ID": "YOUR_APP_ID",
        "FIREBASE_MEASUREMENT_ID": "YOUR_MEASUREMENT_ID",
        "EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID": "YOUR_GOOGLE_WEB_CLIENT_ID"
      }
    }
  }
}
